
body
 {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,h2,h3,p{
    margin: 0;
}
img{
    display: block;
}
ul{
    margin: 0;
    padding-left: 0;
}

/* HEADER */
.header{
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
   
}
.container{
    width: 1158px; 
    margin: 0 auto;
    padding: 0 15px;
    
    
}
 .container.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header{
    display: flex;
    align-items: center;
}
.list-header{
    display: flex;
    gap:40px;
}





.link-header {
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.5;
color: #2e2f42;
    letter-spacing: 0.32px;
}

.list-address{
    display: flex;
    gap: 40px;
}

.item-header {
    
    line-height: 1.5;
    
    letter-spacing: 0.32px;
}

span {
    color: #2e2f42;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-right: 76px; 
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.link-header:hover {
    color: #404BBF;
}

.link-header:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.address-mail {
    color: #434455;
}

.address-mail:hover {
    color: #404bbf;
}

.address-mail:focus {
    color: #404bbf;
}
/* main  */
/* benefits */

.benefits {
    background-color: #2E2F42;
    padding: 188px 0;
    text-align: center;
    
}
.container.container-benefits{
    text-align: center;
}
.title-main {

    color: #fff;
    font-size: 56px;
    font-weight: 700;
    max-width: 496px; 
    letter-spacing: 1.12px;
    line-height: 1.07;
    background-color: #2E2F42; 
    margin: 0 auto;
}

.button-main {
    display: block;
    min-width: 169px;
    background-color: #4D5AE5;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
   margin-top: 48px;
    letter-spacing: 0.64px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    height: 56px;
    margin: 0 auto;
    margin-top: 48px;

}

button:hover {
    background-color: #404BBF;
}

button:focus {
    background-color: #404BBF;
}



/* content */
.content{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.list-content{
    display: flex;
    gap: 24px; 
}
.content-item{
    width: calc((100% - 72px) / 4);
}
.title-content {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    letter-spacing: 0.4px;
    color: #2e2f42;
}
.target-txt {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* our-time */

.our-time {
    text-align: center;
    background-color: #F4F4FD;
    padding: 120px 0;

}

.title-timee {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
    color: #2e2f42;
    margin-bottom: 72px; 
    

}
.list {
    background-color: #F4F4FD;
    display: flex;
    gap: 24px;
}

.list-time {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px; 
}
.person{
    padding: 32px 0;

}
.title-time{
    text-align: center; 
    margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.job {

    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center; 
    font-size: 16px;
}



.Our-time p {
    
    font-size: 16px;
    color: #434455;
    letter-spacing: 0.32px;
}

/* Our Portfolio */

.our-portfolio{
    padding-top: 120px; 
    padding-bottom: 120px;  
}

.title-portfolio {
    color: #2E2F42;
    text-align: center;
    line-height: 1.2;
    font-size: 36px;
    margin-bottom: 72px;
    font-weight: 700;
    
    letter-spacing: 0.72px;
    text-transform: capitalize;
}


.list-port{
    display: flex;
    flex-wrap: wrap; 
    column-gap: 24px;
    row-gap: 48px; 
}
.item-add{
    width: calc((100% - 48px) / 3);
}
.addition{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
}

.title-portf {
    color: #2E2F42;
    margin-bottom: 8px;

    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.content-portf {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* FOOTER */
.contact {
    background-color: #2E2F42;
    padding: 100px 0;

}


.logo-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2E2F42;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2E2F42;
    margin-bottom: 16px; 
}

.studio {
    color: #f4f4fd;
    background-color: #2E2F42;
}

.content-footer {
    
    color: #F4F4FD;
    background-color: #2E2F42;
    line-height: 1.5;
    max-width: 264px;
    
    letter-spacing: 0.32px;

}
